.text-area {
    /* background-color: aqua; */
    padding: 20px;
    margin: 10px 0;
    border-bottom: 2px solid var(--light-green);
}

.input-area {
    height: 15rem;
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.input-area form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-div{
    position: relative;
}


.input-area input {
    padding: 20px 60px;
    border-radius: 10px;
    font-size: 20px;
    margin: 20px 0;
    outline: none;
    border: 1px solid var(--olive-green);
}

.input-area input:active,
.input-area input:focus {
    border: 2px solid var(--olive-green);
}

.input-div label{
    display: none;
    transition: 0.15s;
    color: var(--light-green);
    font-size: 20px;
    position: absolute;
    top: 40px ;
    left: 80px;
}

.input-div  input:focus ~ label {
    font-size: 12px;
    font-weight: bold;
    z-index: 10;
    display: block;
    color: var(--olive-green);
    position: absolute;
    top: 9.5px ;
    left: 10px;
    background-color: white;
    padding: 2px;
}

.input-area button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--olive-green);
    border: none;
    color: white;
}

.input-area button:hover {
    color: var(--olive-green);
    background-color: white;
    font-weight: 700;
    outline: 1px solid var(--olive-green);
}