.text-area {
    /* background-color: aqua; */
    padding: 20px;
    margin: 10px 0;
    border-bottom: 2px solid var(--light-green);
}

.input-area {
    height: 15rem;
    /* background-color: grey; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.input-area form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-div {
    position: relative;
}


.input-area input {
    padding: 20px 60px;
    border-radius: 10px;
    font-size: 20px;
    margin: 20px 0;
    outline: none;
    border: 2px solid var(--light-green);
}

.input-area input:active,
.input-area input:focus {
    border: 2px solid var(--olive-green);
    border-top: none;
}

.input-div label {
    display: none;
    color: var(--light-green);
    background-color: transparent;
    font-size: 20px;
    position: absolute;
    top: 40px;
    left: 80px;
}

.input-div input:focus~label {
    font-size: 10px;
    font-weight: bold;
    z-index: 10;
    display: block;
    color: var(--olive-green);
    position: absolute;
    top: 9.5px;
    left: 10px;
    background-color: transparent;
    padding: 2px;
}

.input-area button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: var(--olive-green);
    border: none;
    color: white;
}

.input-area button:hover {
    color: var(--olive-green);
    background-color: white;
    font-weight: 700;
    outline: 1px solid var(--olive-green);
}



.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--olive-green);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}