
nav{
    /* background-color: bisque; */
    background-color: var(--light-green);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    /* color: white; */
    color: var(--light-pink);
    font-weight: 700;
    padding: 10px;
    margin: 0px 5px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

nav a:hover{
    color: var(--dark-cl);
    border-bottom: 2px solid var(--dark-cl);
}

