.profile-card{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    padding: 15px;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0px 0px 3px var(--olive-green) ;
}

.profile-card h3{
    text-align: center;
    font-size: 11px;
    font-weight: 700;
    color: var(--olive-green);   
}

.image-area{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    margin: 0 auto;
    box-shadow: 0px 0px 2px var(--light-green);
    border-radius: 5px;
    background-image: radial-gradient( circle 1259px at 2.8% 48.8%,  rgba(255,243,110,1) 0%, rgba(30,204,214,1) 45.6%, rgba(5,54,154,1) 65.9% );
}

img{
    width: 220px;
    border-radius: 50%;
    /* box-shadow: 0px 0px 2px black; */
}
